<div class="container">
  <h1>Welcome to URL Shortener!</h1>
  <p>Please give a URL to shorten!</p>

  <form method="POST" action="/urls">
    <input type="text" name="post[url]">
    <input type="submit">
  </form>

</div>
